<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django tutorials</title>
  <style>
    table {
      border-collapse: collapse; /* Ensures no double borders */
      width: 50%;
      margin: 20px auto;
    }
    th, td {
      border: 1px solid black; /* Adds border to cells */
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2; /* Light gray background for headers */
    }
  </style>
</head>
<body>
    {% block start %}

    {% endblock %}


</body>
</html>


